header {
    background-color: black;
}
main {
    padding: 1em;
}

body {
    background-image: url("record.png");
    background-repeat: space repeat;
    margin: 0;
}
.center {
    text-align: center;
    color: lavender;
}
#lightColor {
    background-color: lightgrey;
}